header{
    background-color: black;
    background-position: center;
    height: 3rem;
    align-items: center;
}


.user{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1rem;
    padding: 0;
}

.user a{
    color: var(--color-extra-light);
    font-size: 1.8rem;
    font-family: var(--subtitulo-font);

    font-weight: 400;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;   
}

.user a:hover {
    font-weight: 500;
}

.mayus{
    font-size: 9rem;
}
