<!-- <header>
    <h1 *ngIf="isHome"><span class="mayus">M</span>idnight <span class="mayus">A</span>pothecary</h1>
    <h1 *ngIf="isPerfil"><span class="mayus">M</span>i <span class="mayus">P</span>erfil</h1>
    <h1 *ngIf="isLogin"><span class="mayus">I</span>ngresar</h1>
    <h1 *ngIf="isRegister"><span class="mayus">R</span>egistro</h1>
    <h1 *ngIf="isTienda"><span class="mayus">T</span>ienda</h1>
    <h1 *ngIf="isProducto"><span class="mayus">P</span>roducto</h1>
    <h1 *ngIf="isNuevoProducto"><span class="mayus">N</span>uevo <span class="mayus">P</span>roducto</h1>
    <h1 *ngIf="isBlog"><span class="mayus">B</span>rujas <span class="mayus">H</span>istóricas</h1>
    <h1 *ngIf="isNuevaBruja"><span class="mayus">N</span>ueva <span class="mayus">B</span>ruja</h1>
    <h1 *ngIf="isBruja"><span class="mayus">{{inicialNombre}}</span>{{restoNombre}} <span class="mayus">{{inicialApellido}}</span>{{restoApellido}}</h1>
    <h1 *ngIf="isCarrito"><span class="mayus">C</span>arrito</h1>
    <h1 *ngIf="isCompra"><span class="mayus">C</span>ompra</h1>
    <h1 *ngIf="isCompras"><span class="mayus">C</span>ompras</h1>
</header> -->

<header>
    
</header>