<header>
    <h1 *ngIf="isHome"><span class="mayus">M</span>idnight <span class="mayus">A</span>pothecary</h1>
    <h1 *ngIf="isTienda"><span class="mayus">T</span>ienda</h1>
    <h1 *ngIf="isBlog"><span class="mayus">B</span>rujas <span class="mayus">H</span>istóricas</h1>
    <h1 *ngIf="isNuevaBruja"><span class="mayus">N</span>ueva <span class="mayus">B</span>ruja</h1>
    <h1 *ngIf="isBruja">{{brujaNombre}} {{brujaApellido}}</h1>
    <h1 *ngIf="isEditarBruja"><span class="mayus">E</span>editar <span class="mayus">B</span>ruja</h1>
    <h1 *ngIf="isPerfil"><span class="mayus">P</span>erfil</h1>
    <h1 *ngIf="isCarrito"><span class="mayus">C</span>arrito</h1>
    <h1 *ngIf="isCompra"><span class="mayus">C</span>ompra</h1>
</header>