.hero-carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 77rem;
}

.slide{
    display: none;
    transition: transform 1s ease-in-out;
}

img{
    width: 100%;
    height: auto;
}

.active{
    display: block;
}

.carousel-navigation{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    color: var(--color-light);
}

.carousel-navigation button{
    margin: 0 .5rem;
    padding: 1rem;
    background-color: var(--back-dark-trans);
    color: var(--color-extra-light);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-navigation button:hover{
    background-color: #b39fb6af;
    color: #2a2030;
    cursor: pointer;
    transform: scale(1.1);
}

.carousel-navigation button:disabled{
    background-color: #b39fb6af;
    cursor: not-allowed;
}

.indicator{
    display: flex;
}
