<div class="hero-carousel">
    <div class="slide" *ngFor="let imagen of imagenes; let i = index" [class.active]="i === currentSlide">
        <img [src]="imagen" alt="Slide {{i + 1}}">
    </div>

    <div class="carousel-navigation">
        <button class="prev" (click)="prevSlide()">&#9665;</button>

        <div class="indicator">
            <button *ngFor="let dot of dots; let i = index" (click)="goToSlide(i)"
                [disabled]="i === currentSlide"></button>
        </div>

        <button class="next" (click)="nextSlide()">&#9655;</button>
    </div>
</div>