.hero-carousel{
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 77rem;
}

/*IMAGENES*/
.slide{
    display: none;
    transition: transform 1s ease-in-out;
}

img{
    width: 100%;
    height: auto;
}

.active{
    display: block;
}

/*NAVEGACION */

.carousel-navigation{
    color: var(--color-light);
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
}

/*BOTONES Y DOTS*/

.carousel-navigation .next-prev{
    color: var(--color-light);
    font-size: var(--font-size-20);
    width: 5rem;
    height: 5rem;
    
}

.carousel-navigation button{
    background-color: var(--back-dark-trans);
    border-radius: 50%;
    margin: 0 .5rem;
    padding: 1rem;
}

.carousel-navigation button:disabled{
    background-color: var(--back-light-trans);
    cursor: not-allowed;
}

.carousel-navigation button:hover{
    background-color: var(--color-dark);
    color: var(--color-extra-light);
    transform: scale(1.1);
}

.indicator{
    display: flex;
}
