
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.cabecera h2{
    font-family: var(--titulo-font);
    font-size: var(--font-size-36);
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 0;
}


h3{
    text-align: left;
    margin: 1rem;
}

img{
    width: 8rem;
    height: 8rem;
}

.fondo-caja-clara{
    border-radius: 0;
}


/*CARRITO*/

.contenedor-carrito{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 1rem;
}

.fondo-caja-clara{
    background-color: var(--back-extra-light-trans);
}

/* ------------------------[ TABLA ]------------------------*/

.tabla{
    border-radius: 1rem;
    width: 100%;
    border: .1rem solid var(--color-extra-light);
}

.tabla tr{
    padding: 1rem;
    border: none;
    border-top: .1rem solid white;
}

.tabla tr th{
    border: none;
    color: var(--color-extra-dark);
}

tr .th-large{
    width: 25%;
}

tr .th-short{
    width: 1.5%;
}

/*TD*/
td p{
    margin: 0;
    padding: 0;
    padding-top: .5rem;
}

.detalle-producto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.detalle-producto p {
    margin: 0;
    padding: .2rem;
    text-align: start;
    color: var(--color-extra-dark)
}

.detalle-producto div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.detalle-producto div p{
    font-size: var(--font-size-18);
    align-items: center;
    border-bottom: .1rem solid var(--color-dark);
    padding-bottom: .5rem;
}

.subtotal{
    font-size: var(--font-size-17);
    font-weight: 500;
}

.carrito-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.carrito-icon i{ 
    color: var(--back-medium);
    
}

.carrito-icon i:hover{
    color: var(--color-dark);
}

.carrito-icon i:active{
    color: var(--back-medium);
}


/* ------------------------[ FOOT-TABLE ]------------------------*/

.foot-table{
    margin-top: 1rem;
}

.foot-table div{
    margin: 0;
    border-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
}

.foot-table div .monto{
    text-align: end;
}

.foot-table input{
    width: 60%;
    margin-right: 2rem;
}

.foot-table .boton-claro{
    width: 60%;
    margin-left: 2rem;
}

.foot-table p{
    font-size: var(--font-size-18);
    margin: 0;
}

.foot-table .envio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-left: 2rem;
}

.foot-table .envio img{
    width: 3rem;
    height: 3rem;
}

.foot-table .envio p{
    padding-top: .5rem;
    padding-left: 1rem;
}

.foot-table .cod-postal{
    padding-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

.foot-table a{
    text-decoration: none;
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-14);
    color: var(--color-dark);
    padding-left: 2rem;
    cursor: pointer;
}

.foot-table .total{
    margin-top: 2rem;
    padding: 1rem 2rem;
}
.foot-table .total p{
    font-size: var(--font-size-24);
    font-weight: 600;
}

/*BOTONES*/

/* + - */

.botoncito{
    margin: 0;
    font-size: var(--font-size-18);
    font-weight: 400;
    border: none;
}

.botoncito:hover{
    color: var(--color-dark);
    font-weight: 600;
}


.botoncito:active{
    color: var(--back-medium);
    font-weight: 600;
}


/*cuadrados*/
.boton-claro{
    width: 90%;
}


/*ALTERNATIVO*/
.sin-carrito{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #2a2030;
    margin: auto;
    padding: 1rem;
}

.sin-carrito button{
    padding: 1rem;
}

.sin-carrito button:hover{
    border: 1px solid #2a2030;
    font-weight: bold;
}

.compra-page{
    width: 100%;
    margin-top: 2rem;
}