<div [class.compra-page]="isCompraPage" *ngIf="isLogged && firebaseAuthenticationReady && hasProductos" class="contenedor-carrito">
    <div class="cabecera">
        <h2>CARRITO</h2>
    </div>

        <table class="tabla fondo-caja-clara">
            <thead>
                <tr>
                    <th class="th-large">Producto</th>
                    <th></th>
                    <th class="th-large">Subtotal</th>
                    <th class="th-short"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let producto of productos">
                    <td><img src={{producto.imagen}}></td>
                    <td>
                        <div class="detalle-producto">
                            <p>{{producto.nombre}}</p>
                            <p>${{producto.precio}}</p>
                            <div>
                                <button class="botoncito" (click)="eliminarProducto(producto.id_producto)">-</button>
                                <p>{{producto.cantidad}}</p>
                                <button class="botoncito" (click)="agregarProducto(producto.id_producto)">+</button>
                            </div>
                        </div>
                    </td>                    
                    <td>
                        <p class="subtotal">${{producto.subtotal}}</p>
                    </td>
                    <td>
                        <a class="carrito-icon" (click)="eliminarProductos(producto.id_producto, producto.cantidad)">
                            <i class="fi fi-sr-trash-xmark"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="foot-table">
            <div>
                <p>SUBTOTAL (sin envio):</p>
                <p class="monto"><b>$ {{totalCarrito}}</b></p>
            </div>

            <div class="envio">
                <img src="../../../../assets/img/camion-de-carga.png" alt="camion">
                <p>Medios de envío:</p>
            </div>
                
            <div class="cod-postal">
                <input type="text" placeholder="Tu código postal" [(ngModel)]="codPostal">
                <button class="boton-claro">CALCULAR</button>
            </div>

            <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">NO SÉ MI CÓDIGO POSTAL</a>
            
            <div class="total">
                <p>TOTAL:</p>
                <p class="monto"><b>$ {{totalCarrito}}</b></p>
            </div>
        </div>

        <button *ngIf="!isCompraPage" [routerLink]="['/compra']" class="boton-claro">Iniciar compra</button>
        <button *ngIf="isCompraPage" [routerLink]="['/tienda']" class="boton-claro">Volver a la tienda</button>

    <div *ngIf="isLogged && firebaseAuthenticationReady && !hasProductos" class="sin-carrito">
        <h2>No tienes productos en el carrito</h2>
        <p>Ve a la tienda para seleccionar los productos!</p>

        <button class="boton-claro" [routerLink]="['/tienda']">Ir a la tienda</button>
    </div>
</div>