/*CARRITO*/

.page{
    background-color: var(--back-light-trans);
    width: 40%;
    min-height: 0;
    margin: 2rem auto;
    border-radius: 1rem;
}

.contenedor-carrito{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

/*TABLA*/

.contenedor-carrito table{
    width: 95%;
    border-collapse: collapse;
    border: 1px solid #2a2030d3;
    margin: auto;
}

.contenedor-carrito table thead{
    border: 1px solid #2a2030;
    height: 5rem;
    font-family: 'Quicksand', sans-serif;
    background-color: #2a2030d3;
    color: #b39fb6;
}

.contenedor-carrito table tbody{
    text-align: center;
}

.contenedor-carrito table tbody tr{
    height: 4rem;
}

.contenedor-carrito .foot-table{
    margin: auto;
    border: 1px solid #2a2030d3;
    border-top: 0px;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.contenedor-carrito .foot-table p{
    width: 100%;
    text-align: start;
    margin-left: 1rem;
}
.contenedor-carrito .foot-table .total{
    text-align: end;
    padding-right: 1rem;
}

/*BOTONES*/

td button:hover{
    box-shadow: #2a2030 0px 0px 1.5px 0px;
    font-weight: bold;
}

.botoncito{
    border: .1rem solid var(--color-dark);
}

.botoncito:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
}

.button-comprar{
    width: 95%;
    margin: auto;
    height: 6rem;
    border: .1rem solid var(--color-dark);
}

.button-comprar:hover{
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-top: none;
    font-weight: bold;
}

.sin-carrito{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #2a2030;
    margin: auto;
    padding: 1rem;
}

.sin-carrito button{
    padding: 1rem;
}

.sin-carrito button:hover{
    border: 1px solid #2a2030;
    font-weight: bold;
}

.compra-page{
    width: 100%;
    margin-top: 2rem;
}