
<!-- <p *ngIf="isAdminRole">Hola admin!</p> -->
<header></header>
<div class="hero"></div>
<!-- <button (click)="cerrarSesion()">logout</button> -->
<!--<form [formGroup]="form" (ngSubmit)="agregarProducto()">
    <input type="number" formControlName="id_planta">
    <input type="text" formControlName="nombre">
    <input type="text" formControlName="imagen">
    <input type="number" formControlName="precio">
    <input type="number" formControlName="stock">
    <button type="submit">aceptar</button>
</form>-->