
<div class ="page-home">
    <div class="hero"></div>
    <hr>

    <div class="sector-nosotras">
        <app-nosotras></app-nosotras>
    </div>

    <hr>
    
    <div class="sector-contacto">
        <app-contacto></app-contacto>
    </div>
    
</div>



<!-- <button (click)="cerrarSesion()">logout</button> -->
<!--<form [formGroup]="form" (ngSubmit)="agregarProducto()">
    <input type="number" formControlName="id_planta">
    <input type="text" formControlName="nombre">
    <input type="text" formControlName="imagen">
    <input type="number" formControlName="precio">
    <input type="number" formControlName="stock">
    <button type="submit">aceptar</button>
</form>-->