
<div class ="page-home">
    <app-hero></app-hero>
    <!-- <div class="hero"></div> -->
    <hr>

    <div>
        <app-nosotras></app-nosotras>
    </div>

    <hr>
    
    <div>
        <app-contacto></app-contacto>
    </div>

</div>

<app-footer></app-footer>


<!-- <button (click)="cerrarSesion()">logout</button> -->
<!--<form [formGroup]="form" (ngSubmit)="agregarProducto()">
    <input type="number" formControlName="id_planta">
    <input type="text" formControlName="nombre">
    <input type="text" formControlName="imagen">
    <input type="number" formControlName="precio">
    <input type="number" formControlName="stock">
    <button type="submit">aceptar</button>
</form>-->