<h1>Editar Bruja</h1>
<fieldset class="formulario">

    <form class="sector" [formGroup]="formulario">
        <div class="campo">
            <label for="editNombre">Nombre:</label>
            <input type="text" id="editNombre" formControlName="editNombre">
        </div>

        <div>
            <label for="editApellido">Apellido:</label>
            <input type="text" id="editApellido" formControlName="editApellido">
        </div>

        <div>
            <label for="editFechaNac">Fecha de Nacimiento:</label>
            <input type="text" id="editFechaNac" formControlName="editFechaNac">
        </div>

        <div>
            <label for="editFechaDef">Fecha de Defunción:</label>
            <input type="text" id="editFechaDef" formControlName="editFechaDef">
        </div>

        <div>
            <label for="editTipoMuerte">Tipo de Muerte:</label>
            <input type="text" id="editTipoMuerte" formControlName="editTipoMuerte">
        </div>

        <div>
            <label for="editLugarNac">Lugar de Nacimiento:</label>
            <input type="text" id="editLugarNac" formControlName="editLugarNac">
        </div>

        <div>
            <label for="editLugarEjec">Lugar de Ejecución:</label>
            <input type="text" id="editLugarEjec" formControlName="editLugarEjec">
        </div>

        <div>
            <label for="editImagen">Imagen:</label>
            <input type="url" id="editImagen" formControlName="editImagen">
        </div>

        <div>
            <label for="editHistoria">Historia:</label>
            <textarea id="editHistoria" cols="30" rows="10" formControlName="editHistoria"></textarea>
        </div>

        <div>
            <button type="submit" (click)="editarBruja()">Actualizar</button>
            <button [routerLink]="['/blog']">Cancelar</button> 
        </div>

    </form>
</fieldset>