<div class="contenedor-contacto">
    <div class="imagen-contacto">
        <img src="../../../../assets/img/home/contacto.jpg" alt="contacto">        
    </div>

    <div>
        <form class="formulario-contacto">
            <h2>Contacto</h2>
            <div class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" required>
            </div>
    
            <div class="campo">
                <label for="email">Email</label>
                <input type="text" id="email" required>
            </div>
    
            <div class="campo">
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" required></textarea>
            </div>
            <button class="boton-contacto">Enviar</button>
        </form>
    </div>

    
</div>