<div class="contenedor-contacto">
    <form class="formulario-contacto">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" required>
        </div>

        <div class="campo">
            <label for="email">Email</label>
            <input type="text" id="email" required>
        </div>

        <div class="campo">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" required></textarea>
        </div>
        <button class="boton-contacto">Enviar</button>
    </form>

    <div class="texto-contacto">
        <p>Si tienes alguna duda o sugerencia, no dudes en contactar con nosotras.</p>
        <p>binarysisters@hotmail.com</p>
        <p>Siguenos en Instagram: @binarysisters</p>
        <p>Siguenos en Twitter: @binarysisters</p>
        <p>Siguenos en Pinterest: @binarysisters</p>
    </div>

    
</div>