<div class="contenedor">
    <div class="imagen">
        <img src="../../../../assets/img/home/contacto.jpg" alt="contacto">        
    </div>

    <div class="info">
        <h2>Contacto</h2>
        <form class="formulario" [formGroup]="formulario" (ngSubmit)="enviarContacto()">           
            <div class="campos">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" formControlName="nombre" [class.invalid]="validate('nombre', 'required') || validate('nombre', 'maxLength')">
                    <span class="form-error" *ngIf="validate('nombre', 'required')">Campo obligatorio.</span>
                    <span class="form-error" *ngIf="validate('nombre', 'maxLength')">Máximo 30 caracteres.</span>
                  
                </div>
        
                <div>
                    <label for="email">Email:</label>
                    <input type="text" formControlName="email" [class.invalid]="validate('email', 'required') || validate('email', 'email')">
                    <span class="form-error" *ngIf="validate('email', 'required')">Campo obligatorio.</span>
                    <span class="form-error" *ngIf="validate('email', 'email')">Formato inválido.</span>
                </div>

                <div>
                    <label for="asunto">Asunto:</label>
                    <input type="text" formControlName="asunto" [class.invalid]="validate('asunto', 'maxLength')">
                    <span class="form-error" *ngIf="validate('asunto', 'maxLength')">Máximo 30 caracteres.</span>
                </div>
        
                <div>
                    <label for="mensaje">Mensaje:</label>
                    <textarea formControlName="mensaje" [class.invalid]="validate('mensaje', 'required') || validate('mensaje', 'maxLength')"></textarea>
                    <span class="form-error" *ngIf="validate('mensaje', 'required')">Campo obligatorio.</span>
                    <span class="form-error" *ngIf="validate('mensaje', 'maxLength')">Máximo 150 caracteres.</span>
                </div>
            </div> 
            
            <div class="container-buttons">
                <button class="boton-claro" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>