<div class="contenedor-listado">
    <h2 *ngIf="isFull">Comentarios</h2>
    <h2 *ngIf="isEmpty">Aún no hay comentarios en este post...</h2>
    
    <form *ngFor="let comentario of comentariosOrdenados" [formGroup]="formulario">
        <div class="caja">
            <div class="caja-encabezado">
                <p>{{comentario.nombreUsuario}}</p>
                <p>{{comentario.fecha}}</p>
            </div>

            <hr>
            
            <div class="caja-cuerpo">
                <p *ngIf="!editModeMap.get(comentario.id)">{{comentario.comentario}}</p>
                <textarea *ngIf="editModeMap.get(comentario.id)"
                    formControlName="editComentario">{{comentario.comentario}}</textarea>
            </div>

            <div class="container-buttons">
                <button type="button" class="boton-claro"
                    *ngIf="esUsuario(comentario.userId) && firebaseAuthenticationReady && !editModeMap.get(comentario.id)"
                    (click)="editarComentario(comentario.id)">Editar</button>

                <button type="button" class="boton-claro"
                    *ngIf="(isAdmin || esUsuario(comentario.userId)) && firebaseAuthenticationReady && !editModeMap.get(comentario.id)"
                    (click)="eliminarComentario(comentario.id)">Eliminar</button>

                <button *ngIf="editModeMap.get(comentario.id)" class="boton-claro" (click)="guardarComentario(comentario.id)">Guardar</button>

                <button *ngIf="editModeMap.get(comentario.id)" class="boton-claro" (click)="cancelarCambios(comentario.id)">Cancelar</button>
            </div>
        </div>
    </form>
</div>

