 .contenedor-comentarios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem auto;
 }

 .contenedor-comentarios hr{
    width: 100%;
    border: .1rem solid var(--color-dark);
 }

 .contenedor-comentarios h2{
    font-size: var(--font-size-28);
    font-weight: 500;
    line-height: 2rem;
    top: 0;
    margin: 1rem;
    padding: .5rem;
 }
 
.comentario{
    background-color: var(--back-light-trans);
    width: 50rem;
    margin: auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.contenedor-comentarios .comentario hr{
    width: 100%;
    border: .1rem solid var(--color-dark);
}

.comentario-encabezado {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comentario-encabezado p{
    font-family: 'Quicksand', serif;
    font-size: var(--font-size-18);
    padding: .5rem;
}

.comentario-cuerpo{
    width: 100%;
    overflow: hidden;
}

.comentario-cuerpo textarea{
    width: 100%;
    height: 8rem;
    margin: 2rem auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    border: 1px solid var(--color-dark);
    outline: none;
}

.comentario-cuerpo p{
    font-size: var(--font-size-17);
    padding: 1rem;
}