.img-producto{
    width: 80%;
    border-radius: 9px;
}

.detalles-producto{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    flex-wrap: wrap;
}

.detalles-producto div{
    width: 50%;
}

.detalles-producto .contenedor-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    margin-top: 1rem;
}
.contenedor-buttons .cantidad-producto{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: .5px solid #2a2030d3;
    border-radius: 30px;
}

.cantidad-producto input{
    color: var(--color-dark);
    width: 30%;
    border: none;
    border-bottom: .1rem solid var(--color-dark);
    padding: .5rem;
    outline: none;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.botoncito{
    background-color: var(--back-dark-trans);
    color: var(--color-light);
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    padding: .5rem;
}

#agregar-carr-button{
    width: 60%;
    line-height: 1.5rem;
    margin: 0 2rem;
}

.subtitulo{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
}