/*GENERALES*/

.contenedor{
    width: 65%;
}

.contenedor .imagen img{
    min-height: 100%;
}

/*DATOS*/
.contenedor .datos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contenedor .datos div{
    align-items: start;
}

/*COLUMNAS*/

.contenedor .datos .columna{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contenedor .datos .columna div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.columna div p{
    text-align: end;
}

/*DESCRIPCION*/

.contenedor .descripcion label{
    margin-left: 1rem;
    margin-top: 1rem;
    padding: .5rem;
}

.contenedor .descripcion p{
    margin: 1rem;
    padding: .5rem;
}

/*BOTONES*/

.container-buttons .cantidad-producto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cantidad-producto input{
    color: var(--color-dark);
    width: 30%;
    border: none;
    border-bottom: .1rem solid var(--color-dark);
    padding: .5rem;
    outline: none;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.botoncito{
    background-color: var(--back-dark-trans);
    color: var(--color-light);
}

.botoncito:hover{
    background-color: var(--color-dark);
    color: var(--color-extra-light);
}

#agregar-carr-button{
    width: 60%;
    line-height: 1.5rem;
    margin: 0 2rem;
}
