<div class="contenedor">
    <div class="imagen-titulo">
        <h1>{{producto!.nombre}}</h1>
        <img src="{{producto.imagen}}" class="img-producto">
    </div>
    <div class="detalles-producto">
        <div>
            <p><b>Precio:</b> ${{producto.precio}}</p>
            <p><b>Stock:</b> {{producto.stock}}</p>
            <p><b>Nombre cientifico:</b> {{plantaInfo.scientific_name}}</p>
            <p><b>Ciclo:</b> {{plantaInfo.cycle}}</p>
            <p><b>Riego:</b> {{plantaInfo.watering}}</p>
            <p><b>Requiere luz:</b> {{plantaInfo.sunlight}}</p>
            <p><b>Tipo:</b> {{plantaInfo.type}}</p>
        </div>
        <div>
            <p><b>Flores:</b> {{plantaInfo.flowers}}</p>
            <p><b>Frutos:</b> {{plantaInfo.fruits}}</p>
            <p><b>Medicinal:</b> {{plantaInfo.medicinal}}</p>
            <p><b>Venenoso para humanos:</b> {{plantaInfo.poisonous_to_humans}}</p>
            <p><b>Venenoso para mascotas:</b> {{plantaInfo.poisonous_to_pets}}</p>
            <p><b>Indoor:</b> {{plantaInfo.indoor}}</p>
            <p><b>Nivel de cuidado:</b> {{plantaInfo.care_level}}</p>
        </div>
        <p><b>Descripcion:</b> {{plantaInfo.description}}</p>
    </div>
</div>