<div class="contenedor" *ngIf="firebaseAuthenticationReady">
    <div class="imagen">
        <img src="{{producto.imagen}}" class="img-producto">
    </div>

    <div class="info">
        <h2>{{producto!.nombre}}</h2>
        <div class="datos">
            <div class="columna">
                <div>
                    <label>Precio:</label>
                    <p>${{producto.precio}}</p>
                </div>

                <div>
                    <label>Stock:</label>
                    <p>{{producto.stock}}</p>
                </div>

                <div>
                    <label>Nombre científico:</label>
                    <p>{{plantaInfo.scientific_name}}</p>
                </div>

                <div>
                    <label>Ciclo:</label>
                    <p>{{plantaInfo.cycle}}</p>
                </div>

                <div>
                    <label>Riego:</label>
                    <p>{{plantaInfo.watering}}</p>
                </div>

                <div>
                    <label>Luz:</label>
                    <p>{{plantaInfo.sunlight}}</p>
                </div>

                <div>
                    <label>Tipo:</label>
                    <p>{{plantaInfo.type}}</p>
                </div>

            </div>
            <hr>
            <div class="columna">
                <div>
                    <label class="subtitulo">Flores: </label>
                    <p *ngIf="plantaInfo.flowers">Yes</p>
                    <p *ngIf="!plantaInfo.flowers">No</p>
                </div>

                <div>
                    <label class="subtitulo">Frutos: </label>
                    <p *ngIf="plantaInfo.fruits">Yes</p>
                    <p *ngIf="!plantaInfo.fruits">No</p>
                </div>

                <div>
                    <label class="subtitulo">Medicinal: </label>
                    <p *ngIf="plantaInfo.medicinal">Yes</p>
                    <p *ngIf="!plantaInfo.medicinal">No</p>
                </div>

                <div>
                    <label class="subtitulo">Venenoso para humanos: </label>
                    <p *ngIf="plantaInfo.poisonous_to_humans">Yes</p>
                    <p *ngIf="!plantaInfo.poisonous_to_humans">No</p>
                </div>

                <div>
                    <label class="subtitulo">Venenoso para mascotas: </label>
                    <p *ngIf="plantaInfo.poisonous_to_pets">Yes</p>
                    <p *ngIf="!plantaInfo.poisonous_to_pets">No</p>
                </div>

                <div>
                    <label class="subtitulo">Indoor: </label>
                    <p *ngIf="plantaInfo.indoor">Yes</p>
                    <p *ngIf="!plantaInfo.indoor">No</p>
                </div>

                <div>
                    <label>Nivel de cuidado:</label>
                    <p>{{plantaInfo.care_level}}</p>
                </div>

            </div>
        </div>

        <div class="descripcion">
            <label>Descripción:</label>
            <p>{{plantaInfo.description}}</p>
        </div>

        <div class="container-buttons" *ngIf="!isAdminRole && isLogged">
            <div class="cantidad-producto">
                <button class="botoncito" (click)="disminuir()">-</button>
                <input type="number" [(ngModel)]="cantidadItems">
                <button class="botoncito" (click)="aumentar()">+</button>
            </div>
            <button (click)="agregarAlCarrito()" class="boton-claro" id="agregar-carr-button">Agregar al
                carrito</button>
        </div>

    </div>
</div>

