.contenedor-nuevo-producto{
    width: 60%;
    margin:auto;
    background-color: #b39fb6af;
    border-radius: 10px;
}

.div-buttons{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.div-buttons button{
    width: 30%;
}