.container-buttons{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-self: center;
}

.form-error{
    position: absolute;
    left: 63%;
}
