<div class="contenedor-formulario" *ngIf="isAdminRole && firebaseAuthenticationReady">
    <form class="formulario" [formGroup]="form" (ngSubmit)="agregarProducto()" >
        <div class="campos">
            <div>
                <label>Nombre:</label>
                <input type="text" formControlName="nombre">
                <span class="form-error" *ngIf="validate('nombre','required') ">Campo requerido</span>
                <span class="form-error" *ngIf="nombreProductoExists">Ya existe el producto</span>
                <span class="form-error" *ngIf="validate('nombre','minlength') && !validate('nombre', 'pattern') && !nombreProductoExists">Minimo 3 caracteres</span>
                <span class="form-error" *ngIf="validate('nombre', 'pattern')">Formato invalido</span>
            </div>
            <div>
                <label>Imagen:</label>
                <input type="text" formControlName="imagen">
                <span class="form-error" *ngIf="validate('imagen','required')">Campo requerido</span>
                <span class="form-error" *ngIf="validate('imagen', 'pattern')">Formato invalido</span>
            </div>
            <div>
                <label>Precio:</label>
                <input type="text" formControlName="precio">
                <span class="form-error" *ngIf="validate('precio','required')">Campo requerido</span>
                <span class="form-error" *ngIf="validate('precio', 'min')">Minimo $1</span>
                <span class="form-error" *ngIf="validate('precio', 'pattern')">Formato invalido</span>
            </div>
            <div>
                <label>Stock:</label>
                <input type="text" formControlName="stock">
                <span class="form-error" *ngIf="validate('stock','required')">Campo requerido</span>
                <span class="form-error" *ngIf="validate('stock', 'min')">Minimo 0</span>
                <span class="form-error" *ngIf="validate('stock', 'pattern')">Formato invalido</span>
            </div>
            <div>
                <label>Id Planta:</label>
                <input type="number" formControlName="id_planta">
                <span class="form-error" *ngIf="validate('id_planta','required')">Campo requerido</span>
                <span class="form-error" *ngIf="idPlantaExists">Id en uso</span>
            </div>
            <div class="container-buttons">
                <button class="boton-claro" type="submit">Aceptar</button>
                <button class="boton-claro" type="button" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </form>
</div>