h1{
    margin: 2rem;
    padding-top: 2rem;
    text-align: left;
    font-weight:500;
}

h2{
    text-decoration: none;
    font-family: var(--titulo-font);
    font-size: var(--font-size-46);
    margin: 2rem;
    padding: 0;
    padding-bottom: 2rem;
    text-align: end;
    font-weight:600;
}

.page{
    min-height: 50vh;
}

.fondo-caja-clara{
    width: 60rem;
    margin: 4rem auto;
}