/*GENERAL*/
.pasarela{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;

}
h2{
    font-family: var(--titulo-font);
    font-size: var(--font-size-36);
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 0;
}

.form-pago{
    box-shadow: 0px 2px 10px 0px var(--color-dark);
    border: 1px solid var(--color-light);
    background-color: var(--back-extra-light-trans2);
    padding: 1rem;
    margin-bottom: 2rem;
}

.form-pago form{
    border-radius: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: .1rem solid white;
}

/*INFORMACION*/

.informacion{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-pago .informacion div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.form-pago .informacion div input{
    font-family: 'Merriweater', serif;
    font-size: 1.8rem;
    width: 50%;
    border: none;
    background-color: #b39fb600;
    border-bottom: 1px solid #2a2030;
    outline: none;
    height: 3rem;
    margin: 1rem;
    text-align: end;
}

/*BOTONES*/
.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-pago{
    margin: auto;
    width: 30%;
    margin-top: 1rem;
}

/*ERROR*/

.form-error{
    margin: -15%;
}

.informacion .form-error{
    position: absolute;
    left: 60%;
}

.formulario .informacion div input.invalid{
    border-bottom: 2px solid #a10202;
}


.info-usuario {
    margin: 2rem 0;
    
}

form{
    border-radius: 10px;
    margin-bottom: 1rem;
}