<div *ngIf="isLogged && firebaseAuthenticationReady" class="info-usuario">
    <div class="form-pago">
        <form [formGroup]="formularioUsuario" (ngSubmit)="actualizarDatosUsuario()" class="formulario">
            <h2>Datos de facturacion:</h2>
            <div class="informacion">
                <div>
                    <label>Nombre/s:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.nombre}}</p>
                    <input *ngIf="editMode" formControlName="nombre" value="usuarioLogueado.nombre">
                </div>
                <div>
                    <label>Apellido/s:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.apellido}}</p>
                    <input *ngIf="editMode" formControlName="apellido" value="usuarioLogueado.apellido">
                </div>
                <div>
                    <label>Telefono:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.telefono}}</p>
                    <input *ngIf="editMode" formControlName="telefono" value="usuarioLogueado.telefono">
                </div>
                <div>
                    <label>Provincia:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.provincia}}</p>
                    <input *ngIf="editMode" formControlName="provincia" value="usuarioLogueado.provincia">
                </div>
                <div>
                    <label>Ciudad:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.ciudad}}</p>
                    <input *ngIf="editMode" formControlName="ciudad" value="usuarioLogueado.ciudad">
                </div>
                <div>
                    <label>Direccion:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.direccion}}</p>
                    <input *ngIf="editMode" formControlName="direccion" value="usuarioLogueado.direccion">
                </div>
                <div>
                    <label>Piso/Depto:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.depto}}</p>
                    <input *ngIf="editMode" formControlName="depto" type="text" value="usuarioLogueado.depto">
                </div>
                <div>
                    <label>Codigo Postal:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.codigoPostal}}</p>
                    <input *ngIf="editMode" formControlName="codigoPostal" value="usuarioLogueado.codigoPostal">
                </div>
                <div>
                    <label>DNI:</label>
                    <p *ngIf="!editMode">{{usuarioLogueado.dni}}</p>
                    <input *ngIf="editMode" formControlName="dni" value="usuarioLogueado.dni">
                </div>
                <div class="edit-buttons">
                    <button *ngIf="editMode" type="submit" class="boton-oscuro">Cancelar</button>
                    <button *ngIf="editMode" type="submit" class="boton-oscuro">Guardar</button>
                </div>
                <button type="button" *ngIf="!editMode" (click)="activarEditMode()" class="boton-oscuro">Editar</button>
            </div>

        </form>
    </div>
    <div class="form-pago">
        <form [formGroup]="formularioPago" (ngSubmit)="realizarCompra()" class="formulario campos">
            <h2>Datos de pago:</h2>
            <div>
                <div>
                    <label>Nombre del titular</label>
                    <input type="text" formControlName="titular">
                    <span class="form-error" *ngIf="validate('titular', 'required')">Campo requerido</span>
                    <span class="form-error"
                        *ngIf="validate('titular', 'minlength') && !validate('titular', 'pattern')">Minimo 6
                        caracteres</span>
                    <span class="form-error" *ngIf="validate('titular', 'maxlength')">Maximo 30 caracteres</span>
                    <span class="form-error" *ngIf="validate('titular', 'pattern')">Caracteres invalidos</span>
                </div>
                <div>
                    <label>Numero de tarjeta</label>
                    <input type="text" formControlName="numeroTarjeta">
                    <span class="form-error" *ngIf="validate('numeroTarjeta', 'required')">Campo requerido</span>
                    <span class="form-error" *ngIf="!validate('numeroTarjeta', 'pattern') && (validate('numeroTarjeta', 'minlength') || validate('numeroTarjeta', 'maxlength'))">16 caracteres</span>
                    <span class="form-error" *ngIf="validate('numeroTarjeta', 'pattern')">Caracteres invalidos</span>
                </div>
                <div>
                    <label>Fecha de caducidad (mm/aa)</label>
                    <input type="text" formControlName="fechaCaducidad">
                    <span class="form-error" *ngIf="validate('fechaCaducidad', 'required')">Campo requerido</span>
                    <span class="form-error" *ngIf="!validate('fechaCaducidad', 'pattern') && (validate('fechaCaducidad', 'minlength') || validate('fechaCaducidad', 'maxlength'))">Fecha invalida</span>
                    <span class="form-error" *ngIf="validate('fechaCaducidad', 'pattern')">Formato invalido</span>
                </div>
                <div>
                    <label>Codigo de seguridad</label>
                    <input type="text" formControlName="cvv">
                    <span class="form-error" *ngIf="validate('cvv','required')">Campo requerido</span>
                    <span class="form-error" *ngIf="validate('cvv','minlength') && !validate('cvv','pattern')">Minimo 3 caracteres</span>
                    <span class="form-error" *ngIf="validate('cvv','maxlength') && !validate('cvv','pattern')">Maximo 4 caracteres</span>
                    <span class="form-error" *ngIf="validate('cvv','pattern')">Formato invalido</span>
                </div>
                <div>
                    <label>DNI del pagador</label>
                    <input type="text" formControlName="dniTitular">
                    <span class="form-error" *ngIf="validate('dniTitular','required')">Campo requerido</span>
                    <span class="form-error" *ngIf="!validate('dniTitular', 'pattern') && (validate('dniTitular','minlength') || validate('dniTitular','maxlength'))">9 caracteres</span>
                    <span class="form-error" *ngIf="validate('dniTitular','pattern')">Formato invalido</span>
                </div>
            </div>
            <button type="submit" class="boton-oscuro">Pagar</button>
        </form>
    </div>
</div>