<div *ngIf="brujaCargada">
    <img class="imagen-bruja" src="{{bruja.imagen}}" alt="Imagen de la bruja">

    <p class="subtitulo">Nacimiento:</p>
    <p>{{bruja.fecha_nacimiento}}</p>
    <p class="subtitulo">Defunción:</p>
    <p>{{bruja.fecha_defuncion}}</p>
    <p class="subtitulo">Tipo de Muerte:</p>
    <p>{{ bruja.tipo_de_muerte }}</p>
    <p class="subtitulo">Lugar de Nacimiento:</p>
    <p>{{ bruja.lugar_de_nacimiento }}</p>
    <p class="subtitulo">Lugar de Ejecución:</p>
    <p>{{ bruja.lugar_de_ejecucion }}</p>

    <p class="subtitulo">Historia:</p>
    <p>{{ bruja.historia }}</p>
</div>