<div class="contenedor-nosotras">
    <div>
        <h2>Nosotras</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae nemo natus qui facilis perspiciatis
            dicta, rerum, blanditiis dolorem excepturi nihil. Amet deserunt rem earum dolorum commodi eius ex.
            Voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores deleniti perspiciatis aperiam
            libero perferendis nihil commodi debitis corporis! Repudiandae impedit dignissimos cumque. Sapiente soluta,
            enim reiciendis culpa neque ea assumenda?</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed mollitia laboriosam non, cum nemo doloribus
            maiores natus, beatae a adipisci sunt earum tempora consequuntur animi reiciendis deserunt expedita iure
            soluta?</p>
    </div>
    <div class="imagen-nosotras">
        <img src="../../../../assets/img/home/nosotras.jpg" alt="nosotras">
    </div>
</div>