/*TABLA*/

.tabla-brujas{ 
    margin: 0;
}


.tabla-brujas th{
    background-color: var(--back-dark-trans);
    color: var(--color-light);
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-20);
    font-weight: 400;
    padding: 1rem;
    border-radius: .1rem;
}

.tabla-brujas td{
    color: var(--color-dark);
    font-family: var(--base-font);
    font-size: var(--font-size-18);
    font-weight: 300;
    text-align: center;
    border-radius: .1rem;
    padding: 0;
}

.tabla-brujas .texto{
    background-color: var(--back-extra-light-trans);
    padding: .5rem;
}

/*BOTONES*/

.boton-blog{
    background-color: var(--back-dark-trans);
    color: var(--color-light);
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-17);
    font-weight: 400;
    text-decoration: none;
    border-radius: .1rem;
    align-items: center;
    padding: .5rem;
} 

.boton-blog:hover{
    color: var(--color-extra-light);
    background-color: var(--color-dark);
} 

#agregar{    
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: .5rem; 
    width: 10%;
    height: 5%;
    margin-top: 1rem;
    padding: .5rem;
    position: absolute;
    text-align: center;
    align-items: center;
}

#agregar:hover{
    color: var(--color-extra-light);
    background-color: var(--color-dark);
}