<h1>Brujas Historicas</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Fecha Defunción</th>
            <th>Tipo de Muerte</th>
            <th>Lugar de Nacimiento</th>
            <th>Lugar de Ejecución</th>
        </tr>
    </thead>

    <tbody id="brujas">
        <tr *ngFor="let bruja of listadoBrujas | keyvalue">
            <td>{{bruja.value.nombre}}</td>
            <td>{{bruja.value.apellido}}</td>
            <td>{{bruja.value.fecha_nacimiento}}</td>
            <td>{{bruja.value.fecha_defuncion}}</td>
            <td>{{bruja.value.tipo_de_muerte}}</td>
            <td>{{bruja.value.lugar_de_nacimiento}}</td>
            <td>{{bruja.value.lugar_de_ejecucion}}</td>
            <td><a [routerLink]="['/blog-bruja', bruja.key]">Ver Info</a></td>
            <td><a [routerLink]="['/editar-bruja', bruja.key]" *ngIf="isAdmin">Editar</a></td>
            <td><a (click)="eliminarBruja(bruja.key)" *ngIf="isAdmin">Eliminar</a></td>
        </tr>

        <a [routerLink]="['/nueva-bruja']" *ngIf="isAdmin">Agregar</a>
    </tbody>
</table>