/*BUSQUEDA*/
h2 {
    text-decoration: none;
    text-align: left;
    margin-left: 2rem;
    font-size: var(--font-size-50);
    font-family: var(--titulo-font);
}

.hr-subtitulo {
    width: 20%;
    margin: 0 2rem;
    border: 1px solid var(--color-dark);
}

p {
    color: var(--color-dark);
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-19);
    padding: 0;
    margin: 0;
}

.boton-claro {
    width: 60%;
}

.compras-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


/*PANEL BUSQUEDA*/

.busqueda-aside {
    background-color: var(--back-extra-light-trans);
    background-image: url(../../../../assets/img/caja-trans-long.png);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

.busqueda-aside-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Modified */
    gap: 2rem;
}

.busqueda-aside-box label {
    font-size: var(--font-size-18);
}

/*SELECT*/

select {
    background-color: #00000000;
    font-size: var(--font-size-18);
    font-family: var(--base-font);
    color: var(--color-extra-dark);

    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-dark);
    outline: none;
    padding: .5rem;
    cursor: pointer;
}

select:hover {
    border-bottom: 2px solid var(--color-dark);
}



select option {
    font-size: var(--font-size-16);
    color: var(--back-medium);
    background-color: var(--back-extra-light-trans);
}


/*INPUT*/

.busqueda-aside-box input{
    width: 100%;
}


.placeholder-container{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.input-pequeno{
    width: 100%;
    position: relative;
    z-index: 2;
}

.placeholder{
    color: var(--color-dark);
    font-size: var(--font-size-18);
    font-family: var(--base-font);

    position: absolute;
    z-index: 1;

    top: 0;
    left: .5rem;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: placeholder-slide 4s linear infinite;
}

@keyframes placeholder-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-45%);
    }
}


.busqueda-aside-box input[type="date"] {
    width: 45%;
}

.busqueda-aside-box input[type="date"]:hover{
    cursor: pointer;

}


.busqueda-aside-box input:hover {
    border-bottom: 2px solid var(--color-dark)
}

.busqueda-aside-box input:focus {
    border-bottom: 2px solid var(--color-dark)
}


.aside-fecha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*checkbox*/
input[type="checkbox" i] {
    appearance: none;
    cursor: pointer;

    width: 1.7rem;
    height: 1.7rem;
    margin: .3rem .3rem .3rem .4rem;
    padding: initial;
    border-radius: 1rem;
    border: .05rem solid var(--color-dark);
    background-color: var(--color-extra-light);
}

input[type="checkbox" i]:checked {
    background: var(--back-medium);
    box-shadow: inset 0 0 .1rem .2rem var(--color-extra-light);
}

input[type="checkbox" i]:hover{
    box-shadow: 0 0 .1rem .2rem var(--back-medium);
}
/*LISTADO COMPRAS*/

.listado-compras {
    width: 60%;
    margin: 2rem;
}

/*TABLA COMPRAS*/
.tabla-compras {
    border-collapse: collapse;
    background-color: var(--back-extra-light-trans);
    background-image: url(../../../../assets/img/caja-trans-long.png);
    background-blend-mode: overlay;
    border-radius: .5rem;
}

.tabla-compras th {
    color: var(--color-extra-dark);
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-19);
    font-weight: 400;
    padding: .5rem;
    width: 0.7%;
    border-bottom: .1rem solid var(--color-dark);
}

.tabla-compras td {
    color: var(--color-dark);
    font-family: var(--base-font);
    font-size: var(--font-size-16);
    font-weight: 300;
    padding: .5rem;
    text-align: center;
    border-bottom: .1rem solid var(--color-extra-light);

    vertical-align: top;
}

.tabla-compras td a {
    color: var(--back-medium);
    text-decoration: none;
}

.tabla-compras td p {
    font-family: var(--base-font);
    font-size: var(--font-size-16);
}

.tabla-compras div .producto-cantidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cantidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*SELECTOR*/

.selector-aside {
    background-color: var(--back-extra-light-trans);
    background-image: url(../../../../assets/img/caja-trans-long.png);
    background-blend-mode: overlay;
    width: 17%;

    margin: 2rem;
    padding: 1rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.selector-aside div button {
    margin: 0 1rem;
}