<div *ngIf="isAdminRole && firebaseAuthenticationReady" class="fondo-filtrado">
    <div class="busqueda">
        <p>Buscar usuario por email:</p>
        <div>
            <input type="email" [(ngModel)]="emailBuscado" placeholder="ejemplo@gmail.com">
            <a class="busqueda-icon" (click)="buscarPorEmail()">
                <i class="fi fi-rs-search"></i>
            </a>
        </div>
    </div>
</div>
<div *ngIf="firebaseAuthenticationReady && isLogged" class="contenedor-listado">
    <div *ngIf="!existeUsuario">
        <p class="error-resultado-busqueda">No se encontro al usuario</p>
    </div>
    <div *ngIf="!tieneCompras">
        <p class="error-resultado-busqueda">El usuario no ha realizado compras</p>
    </div>
    <div>
        <div *ngFor="let compra of compras" class="compra">
            <div class="info-compra">
                <p>{{compra.fecha}}</p>
                <p>compra: {{compra.idDoc}}</p>
            </div>
            <div class="items" *ngFor="let producto of compra.items">
                <p>{{producto.nombre}}</p>
                <div class="cantidad">
                    <p> x </p>
                    <p>{{producto.cantidad}}</p>
                </div>
            </div>
            <div class="pie-compra">
                <p>Total: <b class="total">${{compra.total}}</b></p>
                <p>Estado: {{compra.estado}}</p>
            </div>
            <div *ngIf="isAdminRole" class="contenedor-admin-button">
                <button class="finalizar-button" (click)="finalizarEstadoCompra(compra.idDoc!)"
                    *ngIf="compra.estado !== 'finalizada'">Finalizar</button>
            </div>
        </div>
    </div>
</div>