<!-- <div *ngIf="isAdminRole && firebaseAuthenticationReady" class="fondo-filtrado">
    <div class="busqueda">
        <p>Buscar usuario por email:</p>
        <div>
            <input type="email" [(ngModel)]="emailBuscado" placeholder="ejemplo@gmail.com" (keydown.enter)="buscarPorEmail()">
            <a class="busqueda-icon" (click)="buscarPorEmail()">
                <i class="fi fi-rs-search"></i>
            </a>
        </div>
    </div>
</div> -->

<div class ="busqueda">
    <div *ngIf="isAdminRole && firebaseAuthenticationReady" class="info">
        <label for="opciones-busqueda">Seleccione el método de búsqueda</label>
        <select name="opciones-busqueda" id="opciones-busqueda" [(ngModel)]="opcionSeleccionada" class="opciones-busqueda">
            <option value="todas">Todas las compras</option>
            <option value="email">Email</option>
            <option value="dni">Dni</option>
            <option value="nro-compra">N° compra</option>
            <option value="fecha">Fecha</option>
        </select>   

        <div *ngIf="opcionSeleccionada === 'email'" class="datos">
            <label for="email">Ingrese el email de cliente:</label>
            <input type="email" [(ngModel)]="emailBuscado" placeholder="ejemplo@gmail.com" (keydown.enter)="buscarPorEmail()">
        </div>
        
         <div *ngIf="opcionSeleccionada === 'dni'" class="datos">
            <label for="dni">Ingrese el DNI de cliente:</label>
            <input type="dni" [(ngModel)]="dniBuscado" placeholder="12345678" (keydown.enter)="buscarPorDni()">
        </div>
        
        <div *ngIf="opcionSeleccionada === 'fecha'" class="datos">
            <label for="fecha">Ingrese la fecha de la compra:</label>
            <input type="date" [(ngModel)]="fechaBuscada" (keydown.enter)="buscarPorFecha()">
        </div> 

        <div *ngIf="opcionSeleccionada === 'nro-compra'" class="datos">
            <label for="nro-compra">Buscar compra por código:</label>
            <input type="text" [(ngModel)]="nroCompraBuscada" placeholder="1234" (keydown.enter)="buscarPorNroCompra()">
        </div>
    </div>

    <div class="filtrado">
        <h3>FILTRAR</h3>
        <label for="opciones-estado">Estado de la compra:</label>
        <select name="opciones-estado" id="opciones-estado" [(ngModel)]="filtroEstado">
            <option value="pago-pendiente">Pendiente de pago</option>
            <option value="pago-confirmado">Pago confirmado</option>
            <option value="empaquetado">Empaquetado</option>
            <option value="enviado">Enviado</option>
            <option value="entregado">Entregado</option>
            <option value="archivado">Archivado</option>
        </select>

        <label for="rango-fecha">Rango de fecha:</label>
        <input type="date" [(ngModel)]="fechaDesde" (change)="filtrarPorFecha()">
        <input type="date" [(ngModel)]="fechaHasta" (change)="filtrarPorFecha()">

    </div>

    <button *ngIf="opcionSeleccionada === 'todas'" (click)="buscarTodas()">Buscar</button>
    <button *ngIf="opcionSeleccionada === 'email'" (click)="buscarPorEmail()">Buscar</button>
    <button *ngIf="opcionSeleccionada === 'dni'" (click)="buscarPorDni()">Buscar</button>
    <button *ngIf="opcionSeleccionada === 'fecha'" (click)="buscarPorFecha()">Buscar</button>
    <button *ngIf="opcionSeleccionada === 'nro-compra'" (click)="buscarPorNroCompra()">Buscar</button>

</div>



<div *ngIf="firebaseAuthenticationReady && isLogged" class="contenedor-listado">
    <div *ngIf="!existeUsuario">
        <h2 class="error-resultado-busqueda">No se encontro al usuario</h2>
    </div>
    <div *ngIf="!tieneCompras && existeUsuario">
        <h2 class="error-resultado-busqueda">El usuario no ha realizado compras</h2>
    </div>

    <div *ngFor="let compra of compras" class="caja">
        <div class="caja-encabezado">
            <p>{{compra.fecha}}</p>
            <p>compra: {{compra.idDoc}}</p>
        </div>
        <hr>
        <div class="caja-cuerpo" *ngFor="let producto of compra.items">
            <p>{{producto.nombre}}</p>
            <div class="cantidad">
                <p> x </p>
                <p>{{producto.cantidad}}</p>
            </div>
        </div>
        <hr>
        <div class="pie-compra">
            <p>Total: <b class="total">${{compra.total}}</b></p>
            <p>Estado: {{compra.estado}}</p>
        </div>
        <div *ngIf="isAdminRole" class="container-buttons">
            <button class="boton-claro" (click)="finalizarEstadoCompra(compra.idDoc!)"
                *ngIf="compra.estado !== 'finalizada'">Finalizar</button>
        </div>
    </div>
</div>

