<div class="contenedor-principal" *ngIf="filtradoReady">
    <div class="fondo-filtrado">
        <div class="filtro">
            <!--////////////////FILTRADO///////////////////-->
            <div class="opciones-filtrado">
                <div *ngIf="firebaseAuthenticationReady">
                    <p>ORDENAR:</p>
                    <select [(ngModel)]="ordenSeleccionado" (change)="onOrderChangeEvent()">
                        <option *ngFor="let orden of arrayOrdenamiento" [value]="orden">{{orden}}</option>
                    </select>
                </div>
                <div *ngIf="firebaseAuthenticationReady">
                    <p>FILTRAR POR PRECIO:</p>
                    <select [(ngModel)]="filtroSeleccionado" (change)="onFilterChangeEvent()">
                        <option *ngFor="let filtro of arrayFiltrado" [value]="filtro">{{filtro}}</option>
                    </select>
                </div>
            </div>
            <!--////////////////BUSQUEDA///////////////////-->
            <div class="contenedor-busqueda">
                <p>BUSCAR:</p>
                <div>
                    <input type="text" [(ngModel)]="busqueda" class="busqueda" placeholder="Producto...">
                    <a class="busqueda-icon" (click)="buscarProductoPorNombre()">
                        <i class="fi fi-rs-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////PAGINACION///////////////////-->
    <div class="pagination">
        <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">Anterior</button>
        <button *ngFor="let pageNumber of arrayPaginas" (click)="cambiarPagina(pageNumber)"
            [disabled]="pageNumber === paginaActual">{{pageNumber}}</button>
        <button (click)="cambiarPagina(paginaActual + 1)"
            [disabled]="paginaActual === obtenerCantidadPaginas()">Siguiente</button>
    </div>
    <div class="contenedor-productos">
        <p *ngIf="allProducts.size <1 && busquedaFinalizada">Ups... no se ha encontrado el producto</p>
        <!--////////////////LISTADO PRODUCTOS///////////////////-->
        <form *ngFor="let producto of productosPagina" (ngSubmit)="guardarProducto(producto)" [formGroup]="form"
            class="card">
            <div (click)="verDetalleProducto(producto.id_planta)" class="info-producto">
                <img src="{{producto.imagen}}" class="img-producto">
                <div *ngIf="!editModeMap.get(producto.id_planta) && firebaseAuthenticationReady">
                    <h3 class="nombre-producto">{{producto.nombre}}</h3>
                    <p class="precio-producto">${{producto.precio}}</p>
                    <p *ngIf="isAdminRole">stock: {{producto.stock}}</p>
                </div>
            </div>
            <!--////////////////OPCIONES USUARIO-CLIENTE///////////////////-->
            <div class="opciones-compra">
                <!-- <button *ngIf="!isAdminRole && isLogged && firebaseAuthenticationReady"
                    (click)="disminuirCantidad(producto.id_planta)">-</button> -->
                <!-- <input *ngIf="!isAdminRole && isLogged && firebaseAuthenticationReady" type="number"
                    value="0"> -->
                <!-- <button *ngIf="!isAdminRole && isLogged && firebaseAuthenticationReady"
                    (click)="aumentarCantidad(producto.id_planta)">+</button> -->
                <button *ngIf="!isAdminRole && isLogged && firebaseAuthenticationReady"
                    (click)="verDetalleProducto(producto.id_planta)" class="button-compra">Comprar</button>
            </div>
            <!--////////////////MODO EDICION - ADMIN///////////////////-->
            <div *ngIf="editModeMap.get(producto.id_planta)" class="edit-mode">
                <input formControlName="nombre" placeholder="{{producto.nombre}}" type="text">
                <input formControlName="precio" placeholder="{{producto.precio}}" type="number">
                <input formControlName="stock" placeholder="stock({{producto.stock}})" type="number">
            </div>
            <!--////////////////BOTONES ADMIN///////////////////-->
            <div class="botones-admin">
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && !editModeMap.get(producto.id_planta)"
                    (click)="editarProducto(producto.id_planta)">Editar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && editModeMap.get(producto.id_planta)"
                    (click)="cancelarEdicion()">Cancelar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && editModeMap.get(producto.id_planta)"
                    type="submit">Guardar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && !editModeMap.get(producto.id_planta)"
                    (click)="eliminarProducto(producto.id_planta)">Eliminar</button>
            </div>
        </form>
    </div>


</div>

