.img-producto {
    width: 100%;
    border-radius: 9px;
    opacity: 0.9;
}

.img-producto:hover{
    opacity: 1;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; 
}

.fondo-filtrado{
    background-image: url(../../../../assets/img/guarda-tienda.jpg);
    width: 100%;
}
.card {
    min-width: 1%;
    max-width: 25%;
    margin: 0;
    flex: 1 0 calc(25% - 1rem);
    margin: .5rem;
    border-radius: 9px;
    background-color:  #b39fb6af;
}

.card p, h3{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.243);
    background-color: #b39fb6;
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.filtro {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a2030d3;
    width: 60%;
    opacity: 0.9;
    min-height: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.opciones-filtrado {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 9%;
    margin-left: 2rem;
    margin-right:2rem;
}

.opciones-filtrado div{
    padding: 1.5rem;
}

.opciones-filtrado select{
    cursor: pointer;
    width: 100%;
    background-color: #b39fb600;
    border-radius: 10px;
    height: 3rem;
    color: #b39fb6;
    border: 1px solid #b39fb6af;
}

.opciones-filtrado select:hover{
   border: 1.5px solid #b39fb6;
   box-shadow: #fffeff71 0px 0px 1.5px 0px;
}

.opciones-filtrado select option::content:hover{
    background-color: #2a2030;
    color: #b39fb6;
}
.opciones-filtrado select:focus{
    outline: none;
}

.opciones-filtrado select::content{
    font-size: medium;

}
.opciones-filtrado select option{
    font-size: medium;
    background-color: #2a2030;
}

.opciones-filtrado p{
    padding: 0;
    margin: 0;
    color: #b39fb6;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.contenedor-busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.contenedor-busqueda p{
    padding: 0;
    margin: 0;
    color: #b39fb6;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.contenedor-busqueda button{
    background-color: #2a203000;
    border-radius: 10px;
    border: 1px solid #b39fb6af;
    margin: 0;
    margin-left: 1rem;
}
.contenedor-busqueda button:hover{
    border: 1.5px solid #b39fb6;
    box-shadow: #fffeff71 0px 0px 1.5px 0px;
}

.busqueda{
    outline: none;
    cursor: pointer;
    width: 80%;
    background-color: #b39fb600;
    border-radius: 10px;
    height: 3rem;
    color: #b39fb6;
    border: 1px solid #b39fb6af;
    margin: 0;
    padding: .5rem;
}

.busqueda::placeholder{
    color: #b39fb669;
}

.busqueda::content{
    font-size: medium;
}

.busqueda:focus::placeholder{
    color: #b39fb600;
}

.busqueda:hover{
   border: 1.5px solid #b39fb6;
   box-shadow: #fffeff71 0px 0px 1.5px 0px;
}

.contenedor-busqueda div{
    display: flex;
    flex-direction: row;

}

.pagination {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.pagination button{
    margin: 0 .5rem;
    padding: 1rem;
    background-color: #2a2030d3;
    border-radius: 30px;
}

.pagination button:hover{
    background-color: #2a2030;
    color: #b39fb6;
    transform: translateY(-2px);
}

.pagination button:disabled{
    background-color: #2a20304e;
}


.contenedor-productos .botones-admin{
    display: flex;
    flex-direction: row;
    justify-content:end;
}

.botones-admin button{
    padding: 1rem;
    width: 9rem;
    background-color: #2a2030d3;
    border-radius: 30px;
}

.botones-admin button:hover{
    background-color: #c7b7ca;
}
.edit-mode{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.info-producto{
    cursor: pointer;
}

.info-producto .precio-producto{
    font-size: x-large;
}

/*.info-producto h3{
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}

.info-producto p{
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
}*/

.nombre-producto:hover{
    text-decoration: underline;
}

.contenedor-productos .edit-mode input{
    height: 2rem;
    background-color: #b39fb600;
    border: none;
    border-bottom: 1px solid #2a2030d3;
    margin-bottom: 1.1rem;
    margin-top: 1rem;
}

.edit-mode input:focus{
    border: none;
    border-bottom: 1px solid #b39fb6;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
}

.opciones-compra { 
    width: 100%;
    display: flex;
    justify-content: center;
}

::placeholder{
    color: #000000;
}

.opciones-compra button{
    border-radius: 30px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

button:hover{
    background-color: #c7b7ca;
}

.button-compra{
    background-color: #b39fb600;
    color: #2a2030;
    border: 1px solid #2a2030d3;
}

.button-compra:hover{
    font-weight: bold;
}