.img-producto {
    width: 100%;
    border-radius: 9px;
    opacity: 0.8;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; /**/
    background-image: url('../../../../assets/img/fondo-tienda.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.card {
    min-width: 1%;
    max-width: 20%;
    margin: 0;
    border: 1px solid #ccc;
    flex: 1 0 calc(20% - 1rem);
    margin: .5rem;
    border-radius: 9px;
    background-color:  #b39fb6af;

}

.card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.243);
}

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.filtro {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
    width: 80%;
}

.opciones-filtrado {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opciones-filtrado select{
    cursor: pointer;
    width: 100%;
}

.pagination {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
}
.pagination button{
    margin: 0 .5rem;
}

.contenedor-productos .botones-admin{
    display: flex;
    flex-direction: row;
    justify-content:end;
}

.edit-mode{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-producto{
    cursor: pointer;
}

.nombre-producto:hover{
    text-decoration: underline;
}

.contenedor-productos .edit-mode input{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.edit-mode input:focus{
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
}

.opciones-compra input {
    width: 15%;
}

/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}*/

::placeholder{
    color: #000000;
}