<div class="contenedor-principal" *ngIf="filtradoReady">
    <div class="fondo-filtrado">
        <div class="filtro">
            <!--////////////////FILTRADO///////////////////-->
            <div class="opciones-filtrado">
                <div *ngIf="firebaseAuthenticationReady">
                    <p>ORDENAR:</p>
                    <select [(ngModel)]="ordenSeleccionado" (change)="onOrderChangeEvent()">
                        <option *ngFor="let orden of arrayOrdenamiento" [value]="orden">{{orden}}</option>
                    </select>
                </div>
                <div *ngIf="firebaseAuthenticationReady">
                    <p>FILTRAR POR PRECIO:</p>
                    <select [(ngModel)]="filtroSeleccionado" (change)="onFilterChangeEvent()">
                        <option *ngFor="let filtro of arrayFiltrado" [value]="filtro">{{filtro}}</option>
                    </select>
                </div>
            </div>
            <!--////////////////BUSQUEDA///////////////////-->
            <div class="contenedor-busqueda">
                <p>BUSCAR:</p>
                <div>
                    <input type="text" [(ngModel)]="busqueda" class="busqueda" placeholder="Producto..." (keydown.enter)="buscarProductoPorNombre()">
                    <a class="busqueda-icon" (click)="buscarProductoPorNombre()">
                        <i class="fi fi-rs-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--////////////////PAGINACION///////////////////-->
    <div class="pagination">
        <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">Anterior</button>
        <button *ngFor="let pageNumber of arrayPaginas" (click)="cambiarPagina(pageNumber)"
            [disabled]="pageNumber === paginaActual">{{pageNumber}}</button>
        <button (click)="cambiarPagina(paginaActual + 1)"
            [disabled]="paginaActual === obtenerCantidadPaginas()">Siguiente</button>
    </div>
    <div class="contenedor-productos">
        <p *ngIf="allProducts.size <1 && busquedaFinalizada" class="no-encontrado">Ups... no se ha encontrado el producto</p>
        <!--////////////////LISTADO PRODUCTOS///////////////////-->
        <form *ngFor="let producto of productosPagina" (ngSubmit)="guardarProducto(producto)" [formGroup]="form"
            class="card">
            <div (click)="verDetalleProducto(producto.id_planta)" class="info-producto">
                <img src="{{producto.imagen}}" class="img-producto">
                <div *ngIf="!editModeMap.get(producto.id_planta) && firebaseAuthenticationReady">
                    <h3 class="nombre-producto">{{producto.nombre}}</h3>
                    <p class="precio-producto">${{producto.precio}}</p>
                    <p *ngIf="isAdminRole">stock: {{producto.stock}}</p>
                </div>
            </div>
            <!--////////////////OPCIONES USUARIO-CLIENTE///////////////////-->
            <div class="container-buttons">
                <button *ngIf="!isAdminRole && isLogged && firebaseAuthenticationReady"
                    (click)="verDetalleProducto(producto.id_planta)" class="boton-claro">Comprar</button>
            </div>
            <!--////////////////MODO EDICION - ADMIN///////////////////-->
            <div *ngIf="editModeMap.get(producto.id_planta)" class="edit-mode">
                <div>
                    <input formControlName="nombre" placeholder="{{producto.nombre}}" type="text"
                        [class.invalid]="validate('nombre','required') || validate('nombre','minlength') || nombreExiste">
                    <!--
                        <span class="form-error" *ngIf="validate('nombre','required')">Campo requerido</span>
                        <span class="form-error" *ngIf="validate('nombre','minlength')">+3 caracteres</span>
                    -->

                </div>
                <div>
                    <input formControlName="precio" placeholder="{{producto.precio}}" type="number"
                    [class.invalid]="validate('precio', 'required') || validate('precio','min')">
                    <!--
                        <span class="form-error" *ngIf="validate('precio','required')">Campo requerido</span>
                        <span class="form-error" *ngIf="validate('precio','min')">Minimo $1</span>
                    -->
                </div>
                <div>
                    <input formControlName="stock" placeholder="stock({{producto.stock}})" type="number" 
                    [class.invalid]="validate('stock','required') || validate('stock','min')">
                    <!--
                        <span class="form-error" *ngIf="validate('stock','required')">Campo requerido</span>
                        <span class="form-error" *ngIf="validate('stock','min')">Minimo 0</span>
                    -->
                </div>
            </div>
            <!--////////////////BOTONES ADMIN///////////////////-->
            <div class="container-buttons">
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && !editModeMap.get(producto.id_planta)"
                    (click)="editarProducto(producto.id_planta)" class="boton-claro">Editar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && editModeMap.get(producto.id_planta)"
                    (click)="cancelarEdicion()" class="boton-claro">Cancelar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && editModeMap.get(producto.id_planta)"
                    type="submit" class="boton-claro">Guardar</button>
                <button *ngIf="isAdminRole && firebaseAuthenticationReady && !editModeMap.get(producto.id_planta)"
                    (click)="eliminarProducto(producto.id_planta)" type="button" class="boton-claro">Eliminar</button>
            </div>
        </form>
    </div>


</div>