/*GENERAL*/
.contenedor-principal {
    display: flex;
    flex-direction: column; 
}

/*----------[ PANEL DE BÚSQUEDA ]----------*/
.fondo-filtrado{
    background-image: url(../../../../assets/img/guarda-tienda.jpg);
    width: 100%;
}

.filtro {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--back-dark-trans);
    width: 60%;
    opacity: 0.9;
    min-height: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.filtro p{
    padding: 0;
    margin: 0;
    margin-bottom: 2%;
    color: #b39fb6;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

.opciones-filtrado {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 9%;
    margin-left: 2rem;
    margin-right:2rem;
}

/*FILTRADO*/
.opciones-filtrado div{
    padding: 1.5rem;
}

.opciones-filtrado select{
    font-family: var(--base-font);
    background-color: var(--back-trans);
    color: var(--color-light);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-light);
    width: 100%;
    height: 3rem;
    cursor: pointer;
}

.opciones-filtrado select:hover{
   border-bottom: .2rem solid var(--color-light);
}

.opciones-filtrado select option{
    cursor: pointer;
    font-size: var(--font-size-16);
    background-color: var(--color-dark);
}

.opciones-filtrado select option::content:hover{
    background-color: var(--back-dark-trans);
    color: var(--color-light);
}

.opciones-filtrado select::content{
    font-size: var(--font-size-17);
}

/*BÚSQUEDA*/

.contenedor-busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.contenedor-busqueda button{
    border-radius: 1rem;
    border: .1rem solid var(--back-light-trans);
    margin: 0;
    margin-left: 1rem;
}
.contenedor-busqueda button:hover{
    border: 1.5px solid var(--color-light);
    box-shadow: #fffeff71 0px 0px 1.5px 0px;
}

.busqueda{
    background-color: var(--back-trans);
    color: var(--color-light);
    outline: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: .1rem solid var(--back-light-trans);
    width: 80%;
    height: 3rem;
    margin: 0;
    padding: .5rem;
}

.busqueda::placeholder{
    color: var(--color-light-trans);
}

.busqueda::content{
    font-size: medium;
}

.busqueda:focus::placeholder{
    color: var(--back-trans);
}

.busqueda:hover{
   border-bottom: .2rem solid var(--color-light);
}

.contenedor-busqueda div{
    display: flex;
    flex-direction: row;

}

/*----------[ PAGINACIÓN ]----------*/

.pagination {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.pagination button{
    margin: 0 .5rem;
    padding: 1rem;
    background-color: var(--back-dark-trans);
    border-radius: 3rem;
    color: var(--color-light);
}

.pagination button:hover{
    background-color: var(--color-dark);
    color: var(--color-extra-light);
    transform: translateY(-2px);
}

.pagination button:disabled{
    background-color: #2a20304e;
    color: var(--color-dark);
}


/*----------[ LISTADO DE PRODUCTOS ]----------*/

.contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

/*IMAGEN*/
.img-producto {
    width: 100%;
    border-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 0.9;
}

.img-producto:hover{
    opacity: 1;
}

/*CARD*/
.card {
    min-width: 1%;
    max-width: 25%;
    margin: 0;
    flex: 1 0 calc(25% - 1rem);
    margin: .5rem;
    border-radius: 9px;
}

.card p, h3{
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-family: var(--base-font);
    padding: 0;
}

.card:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.243);
}

.container-buttons{
    margin-bottom: 1rem;
}

/*EDICIÓN*/
/*
.edit-mode{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}*/

.info-producto{
    cursor: pointer;
}

.info-producto .precio-producto{
    font-size: var(--font-size-18);
}

.info-producto h3{
    text-align: left;
}

.nombre-producto:hover{
    text-decoration: underline;
}

/*
.contenedor-productos .edit-mode input{
    height: 2rem;
    background-color: var(--back-trans);
    border: none;
    border-bottom: .1rem solid var(--back-dark-trans);
    margin-bottom: 1.1rem;
    margin-top: 1rem;
}

.edit-mode input:focus{
    border: none;
    border-bottom: .1rem solid var(--color-light);
    margin-bottom: 1rem;
    margin-top: 1rem;
    outline: none;
}*/

::placeholder{
    color: #00000083;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
.edit-mode div input.invalid{
    border-bottom: .2rem solid #a10202;
}*/

.boton-claro{
    width: 90%;
}

.no-encontrado{
    margin: auto;
    width: 50%;
    text-align: center;
    color: var(--color-dark);
    font-family: var(--subtitulo-font);
    font-size: var(--font-size-20);
    margin-bottom: 2rem;
}

h2 {
    text-decoration: none;
    text-align: left;
    margin-left: 2rem;
    font-size: var(--font-size-50);
    font-family: var(--titulo-font);
}

.hr-subtitulo {
    width: 20%;
    margin: 0 2rem;
    border: 1px solid var(--color-dark);
}