


.nuevo-comentario{
    margin: 2rem auto;
    background-image: url(../../../../assets/img/guarda-comentario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 2rem 0;
    min-height: 20vh;
}

/* .sector-comentarios{
    width: 70%;
    margin: 2rem auto;
    text-align: center;
}

.sector-comentarios hr{
    width: 100%;
    margin: 2rem auto;
}

.contenedor-comentarios{
    margin-bottom: 2rem;
} */