
.nuevo-comentario{
    background-color: #2a2030d3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 2rem;
    align-items: center;
}

.nuevo-comentario textarea{   
    max-width: 50vh;
    width: 50%;
    height: 13rem;
    color: var(--text-light);
    background-color: var(--back-trans);
    border-color: var(--text-light);
}

.nuevo-comentario textarea::placeholder{
    padding: .5rem;
    font-family: 'Merriweater', serif;
    font-size: 1.8rem;
    color: #b39fb6;
}

.nuevo-comentario textarea:focus{
    border: .2rem solid #b39fb6;
    color: #b39fb6;
}

.nuevo-comentario h3{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;    
    color: #b39fb6;
}

#boton-comentario{
    width: 20%;
    margin: 1rem;
}