.navbar{
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    cursor: pointer;
}