<hr>
<div class="navbar">
    <div class="navbar-links">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/tienda']">Tienda</a>
        <a [routerLink]="['/blog']">Blog</a>
        <a *ngIf="isLogged && firebaseAuthenticationReady && !isAdminRole" [routerLink]="['/carrito']">Carrito</a>



        <div class="dropdown">
            <button class="dropbtn"><i class="fi fi-sr-hat-witch"></i></button>
            <div class="dropdown-content">
                <a *ngIf="!isLogged && firebaseAuthenticationReady" [routerLink]="['/login']">Login</a>
                <a *ngIf="!isLogged && firebaseAuthenticationReady" [routerLink]="['/register']">Registrarse</a>
                <a *ngIf="isLogged && firebaseAuthenticationReady" [routerLink]="['/mi-perfil']">Mi Perfil</a>
                <a *ngIf="(isLogged && firebaseAuthenticationReady) && !isAdminRole" [routerLink]="['/mis-compras']">Mis Compras</a>
                <a *ngIf="isAdminRole && firebaseAuthenticationReady" [routerLink]="['/ver-compras']">Ver Compras</a>
                <hr>
                <a *ngIf="isLogged && firebaseAuthenticationReady" (click)="cerrarSesion()">Cerrar Sesion</a>

            </div>
        </div>

    </div>

</div>
<hr>