<section class="comentarios">
    <table>
        <h2>Comentarios:</h2>
        <tbody>
            <tr *ngFor="let comentario of listadoComentarios | keyvalue">
                <td>{{comentario.value['fecha']}}</td>
                <td>{{comentario.value.userId}}</td>
                <td>{{comentario.value.comentario}}</td>
                
                <td>
                    <button>Modificar</button>
                    <button (click)="eliminarComentario(comentario.key)">Eliminar</button> 
                </td> 
            </tr>
        </tbody>
    </table>
</section>