/* ------------------------[ VARIABLES ]------------------------*/

:root {
    /*FONTS*/
    /*Family*/
    --base-font: 'Merriweater', serif;
    --subtitulo-font: 'Quicksand', sans-serif;
    --titulo-font: 'Reenie Beanie', cursive;

    /*Size*/
    --font-small: 1.6rem;
    --font-medium: 1.8rem;
    --font-large: 2rem;
    --font-extra: 2.8rem;

    /*Color*/
    --text-dark: #2a2030;
    --text-light: #e8d5eb;
    --back-light: #b39fb6;
    --back-medium: #876a89;
    --back-dark: #1b151f;
    --back-trans: #00000000;
    --back-light-trans: #b39fb6d8;
    --back-dark-trans: #2a2030d3;


}


/* ------------------------[ GENERALES ]------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merriweather&family=Philosopher&family=Quicksand:wght@300;400;500&family=Raleway:wght@200&family=Reenie+Beanie&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--back-medium);
    background-image: url(../src/assets/img/fondo.jpg);
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border: .15rem solid #b39fb6;
    margin: 0;
}

h1 {
    font-family: var(--titulo-font);
    font-size: 7rem;
    color: black;
    margin: auto;
}

h2 {
    font-family: var(--subtitulo-font);
    font-size: var(--font-extra);
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    top: 0;
    margin: 1rem;
}

h3 {
    font-family: var(--subtitulo-font);
    font-size: var(--font-large);
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
}

button {
    font-family: var(--subtitulo-font);
    font-size: var(--font-medium);
    font-weight: 400;
    line-height: 1.5rem;
    border: none;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
}

a {
    cursor: pointer;
}

textarea {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    line-height: 1.5rem;
    background-color: var(--back-trans);
    border: .1rem solid;
}

textarea:focus {
    outline: .2px solid;
}


/* ------------------------[ PAGES ]------------------------*/

.page {
    width: 100%;
    min-height: 55vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page-user {
    background-color: var(--back-medium);
    background-image: url(../src/assets/img/dibujos-user.jpg);
    background-blend-mode: multiply;
}

.page-tienda {
    background-color: var(--back-medium);
    background-image: url(../src/assets/img/dibujos-tienda.jpg);
    background-blend-mode: multiply;
}

.page-blog {
    background-color: var(--back-medium);
    background-image: url(../src/assets/img/dibujos-blog.jpg);
    background-blend-mode: multiply;
}

/* ------------------------[ FOOTER PARA PAGS CORTAS ]------------------------*/
.footer.fixed {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* ------------------------[ PERFILES - BIOGRAFIAS - INFO ]------------------------*/
.contenedor {
    width: 55%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    margin: 2rem auto;
    padding: 1rem;
}

.contenedor div {
    border-radius: 1rem;
    padding: .5rem;
    height: 100%;
}

.contenedor p {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;
    color: var(--text-dark);
    line-height: 1.8rem;
    text-align: left;
}

.contenedor label{
    font-family: var(--subtitulo-font);
    font-size: var(--font-large);
    font-weight: 400;
    color: var(--text-dark);
}

/*datos*/
.contenedor .imagen {
    background-color: var(--back-dark-trans);
    display: flex;
    align-items: center;
}

.contenedor .imagen img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.contenedor div.info {
    background-color: var(--back-light-trans);
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor .datos div {
    max-height: 4.5rem;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.datos div input {
    font-family: 'Merriweater', serif;
    font-size: 1.8rem;
    border: none;
    background-color: #b39fb600;
    border-bottom: 1px solid #2a2030;
    outline: none;
    height: 3rem;
    margin: 1rem;
    text-align: end;
}

.datos div textarea {
    width: 95%;
    height: 6rem;
    margin: auto;
    margin-bottom: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    border: 1px solid #2a2030;
    outline: none;
    background-color: #c7b7ca00;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
}

/*TODOS LOS FORMULARIOS*/
.contenedor-formulario {
    background-color: #b39fb6af;
    width: 50%;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
}

.formulario {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 1rem;
}

.formulario .campos {
    margin: 2rem;
    padding: 1%;
}

.formulario .campos div {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.campos div label {
    margin-left: 2%;
    color: #2a2030;
    font-family: 'Quicksand', medium;
    font-weight: 500;
    font-size: 2rem;
    padding: 1%;
}

.campos div input {
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
    width: 95%;
    margin: auto;
    padding: 1%;
    border: none;
    outline: none;
    border-bottom: .1rem solid #2a2030;
    background-color: #b39fb600;
    margin-bottom: 2rem;
    /*para los span*/
}

.campos div textarea {
    width: 95%;
    height: 10rem;
    margin: auto;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    border: 1px solid #2a2030;
    outline: none;
    background-color: #c7b7ca00;
    font-family: 'Merriweather', serif;
}


/*BOTONES*/

.container-buttons {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton-claro {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #2a2030;
    width: 30%;
    margin: 2% auto;
    border-radius: 5rem;
    padding: 1rem;
    background-color: #b39fb600;
    border: 1px solid #2a2030;
}

.boton-claro:hover {
    font-weight: bold;
}

.boton-transp {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #b39fb6;
    width: 30%;
    margin: 2% auto;
    border-radius: 5rem;
    padding: 1rem;
    background-color: #2a203000;
    border: .1rem solid #b39fb6;
}

.boton-transp:hover {
    background-color: #2a2030;
    color: #b39fb6;
    font-weight: bold;
}

.boton-oscuro {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    color: #b39fb6;
    width: 30%;
    margin: 2% auto;
    border-radius: 5rem;
    padding: 1rem;
    background-color: #2a2030d3;
    border: 1px solid #b39fb6;
}

.boton-oscuro:hover {
    font-weight: bold;
}



/*ICONOS*/
.busqueda-icon i {
    color: #b39fb6af;
    font-size: 2rem;
    margin: 0 1rem;
}

.busqueda-icon i:hover {
    color: #c7b7ca;
}

/*SPANS!*/


.formulario input.invalid {
    border-bottom: 2px solid #a10202;
}

.formulario textarea.invalid {
    border: 2px solid #a10202;
}

.form-error {
    margin-top: 0;
    margin-left: 2%;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: #a10202;
    padding: 1%;
}