/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merriweather&family=Philosopher&family=Quicksand:wght@300;400;500&family=Raleway:wght@200&family=Reenie+Beanie&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-image: url(../src/assets/img/fondo.jpg);
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    margin-bottom: 30rem;
}

button{
    cursor: pointer;
}
    


hr {
    border: .15rem solid #b39fb6;
    margin: 0rem;
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 7rem;
    margin: auto;
}

button{
    font-family: 'Quicksand', medium;
    font-size: 1.6rem;
    font-weight: 400;

    margin: auto;
    
    color: #b39fb6;
    background-color: #2a2030d3;
    
    line-height: 1.5rem;
    border: none;
    border-radius: 1rem;

    margin: 1rem;
    padding: .5rem;

    cursor: pointer;
}

button:hover{
    /*font-weight: bold;*/
    color: #2a2030d3;
    background-color: #b39fb6af;
}

header{
    background-image: url(../src/assets/img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 10rem;
    margin: auto;
    text-align: center;
}

.mayus{
    font-size: 8.5rem;
}

textarea{
    color:#2a2030;
    font-family: "Merriweather", serif;
    font-size: 1.6rem;
    line-height: 1.5rem;
    background-color: #2a203000;
    border: .1rem solid #2a2030;
} 

textarea:focus{
    outline: 2px solid #2a2030d3;
}


/*PAGES*/

.page{
    min-height: 55vh;
    margin: 2rem auto;
}

.page-home{
    background-image: url(../src/assets/img/fondo.jpg);
    background-size:contain;
    background-repeat: repeat;
}

.page-user{
    background-color: #876a89;
    background-image: url(../src/assets/img/dibujos-user.jpg);
    background-blend-mode: multiply;
}

.page-tienda{
    background-color: #876a89;
    background-image: url(../src/assets/img/dibujos-tienda.jpg);
    background-blend-mode: multiply;
}

.page-blog{
    background-color: #876a89;
    background-image: url(../src/assets/img/dibujos-blog.jpg);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FOOTER FIXED*/
.footer.fixed{
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*PERFILES, BIOS, INFOS*/
.contenedor{
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    margin: auto;
/*     border: .5rem double #2a2030; */
}

.contenedor h2{
    font-family: 'Quicksand', serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    text-decoration: underline;
    margin: 1rem;
    padding: .5rem;
}

.contenedor div{
    border-radius: 1rem;
    height: 100%;
    padding: .5rem;
}

.contenedor p{
    font-family: 'Merriweater', serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #2a2030;
    line-height: 2rem;
    text-align: left;
    padding: .5rem;
}

.contenedor .imagen{
    background-color: #2a2030d3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.contenedor .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

/*datos*/
.contenedor .info{
    background-color: #b39fb6af;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.contenedor .datos div{
    max-height: 4.5rem;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.datos div input{
    font-family: 'Merriweater', serif;
    font-size: 1.8rem;
    width: 50%;
    border: none;
    background-color: #b39fb600;
    border-bottom: 1px solid #2a2030;
    outline: none;
    height: 3rem;
    margin: 1rem;
    text-align: end;
}

/*TODOS LOS FORMULARIOS*/

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 1rem;
 }

 .formulario .campos div{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1%;
 }

 .campos div label{
    margin-left: 2%;
    color: #2a2030;
    font-family: 'Quicksand', medium;
    font-size: 2rem;
    padding: 1%;
 }

 .campos div input{
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
    width: 95%;
    margin: auto;
    padding: 1%;
    border: none;
    outline: none;
    border-bottom: .1rem solid #2a2030;
    background-color: #b39fb600;
 }

 .campos div textarea{
    width: 95%;
    height: 10rem;
    margin: auto;
    margin-top: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    border: 1px solid #2a2030;
    outline: none;
    background-color: #c7b7ca00;
    font-family: 'Merriweather', serif;
}








































/*FORMULARIO-BRUJAS (NUEVA Y EDITAR)*/
/*
.formulario-bruja{
    width: 40%;
    font-size: 1.6rem;
    background-color: #2a2030d3;
    margin: 2rem auto;
}

.formulario-bruja .campo{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formulario-bruja .campo label{
    margin: 1rem;
    color: #b39fb6;
    font-family: 'Quicksand', medium;
    font-size: 2rem;
    font-weight: 400;
}

.formulario-bruja .campo input{
    width: 100%;
    padding: .5rem;
    border: #b39fb6 1px solid;
    border-radius: 1rem;
    background-color: #b39fb6af;
    color:#2a2030;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
}

.formulario-bruja .campo textarea{
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding: .5rem;
    border: #b39fb6 1px solid;
    border-radius: 1rem;
    background-color: #b39fb6af;
}

/*USUARIOS LOGIN Y REGISTRO FORMS*/
/*
.login-form{
    width: 40%;
    background-color: #b39fb6af;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 1rem;
}

.login-form-body{
    padding: 1%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.login-form-body label{
    margin-left: 2%;
    color: #2a2030;
    font-family: 'Quicksand', medium;
    font-size: 2rem;
    padding: 1%;
}

.login-form-body input{
    margin: auto;
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid 2a2030;
    background-color: #c7b7ca;
    font-family: 'Merriweather', serif;
}
*/

.login-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    color:#2a2030;
    width: 30%;
    margin: 2% auto;
    border-radius: 5rem;
    padding: 1rem;
    background-color: #b39fb600;
    border: 1px solid #2a2030;
}

.login-button:hover{
    font-weight: bold;
}


.login-form-body input.invalid{
    border: 2px solid #a10202;

}

.form-error{
    margin-top: 0;
    margin-left: 2%;
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    color: #a10202;
    padding: 1%;
}


