
/*GENERALES*/

.footer {
    background-image: url(../../../../assets/img/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 2rem 0;
}

.footer p {
    font-size: var(--font-size-17);
    color: var(--color-light);
    text-align: center;
}

.contenedor-footer {
    background-color: var(--back-dark-trans);
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
}

.seccion-footer {
    max-width: 30rem;
    margin: 2rem 0;
}

.seccion-footer h2 {
    font-size: var(--font-size-20);
    color: var(--color-light);
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: left;
    text-decoration: none;
}

.seccion-footer h3 {
    font-size: var(--font-size-17);
    color: var(--color-light);
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

/*NAVEGACION*/

.seccion-footer ul {
    list-style: none;   
    padding: 0;
}

.seccion-footer ul.redes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.seccion-footer li {
    margin-bottom: .5rem;
    padding-left: .5rem;
}

.seccion-footer a {
    color: var(--color-light);
    font-family: var(--base-font);
    font-size: var(--font-size-18);
    text-decoration: none;
}

.seccion-footer a:hover {
    font-weight: bold;
    color: var(--color-extra-light);
}

/*SUSCRIPCION*/

.seccion-footer form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: left;
}

.seccion-footer .suscribirse {
    display: flex;
    flex-direction: row;
}

.seccion-footer input {
    color: var(--color-light);
    max-width: 60%;
    padding: .5rem;
    margin-bottom: 1rem;
    border: .1rem solid var(--color-light);
    border-radius: 1rem;
}

.seccion-footer input::placeholder {
    color: var(--color-light);
}

.seccion-footer input:focus{
    border: .2rem solid var(--color-light);
}

/*COPIRIGHT*/
.copi-footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
}

/*ICONOS*/

.footer-icon i {
    color: var(--back-light-trans);
    font-size: 3rem;
    margin: 0 1rem;
}

.footer-icon i:hover {
    color: var(--color-extra-light);
}

