<footer class="footer">
    <div class="contenedor-footer">

        <div class="seccion-footer">
            <h2>NAVEGACIÓN</h2>
            <ul>
                <li><a (click)="onLinkClick('home')">Home</a></li>
                <li><a (click)="onLinkClick('tienda')">Tienda</a></li>
                <li><a (click)="onLinkClick('blog')">Blog</a></li>
            </ul>
        </div>

        <div class="seccion-footer">
            <h2>CONTACTANOS</h2>
            <p>binary@sisters.com</p>
        </div>

        <div class="seccion-footer">
            <h2>REDES SOCIALES</h2>
            <ul class="redes">
                <a class="footer-icon" href="https://www.instagram.com/tincanforest/?hl=es-la" target="_blank">
                    <i class="fi fi-brands-instagram"></i>
                </a>

                <a class="footer-icon" href="https://tincanforest.tumblr.com/" target="_blank">
                    <i class="fi fi-brands-tumblr"></i>
                </a>

                <a class="footer-icon" href="https://ar.pinterest.com/herbsandplants/_saved/" target="_blank">
                    <i class="fi fi-brands-pinterest"></i>
                </a>   
            </ul>
        </div>

        <div class="seccion-footer">
            <h2>SUSCRIBETE</h2>
            <h3>A NUESTRAS</h3>
            <h3>NOVEDADES ♥</h3>

            <form class="suscribirse" [formGroup]="formulario">
                <input type="email" placeholder="Email" formControlName="email">
                <a class="footer-icon" (click)="suscribirse()">
                    <i class="fi fi-rs-paper-plane"></i>
                </a>
            </form>
        </div>

    </div>

    <div class="copi-footer">
        <p>&copy; 2023 Binary Sisters. Todos los derechos reservados</p>
    </div>
</footer>