<footer class="footer">
    <div class="contenedor-footer">

        <div class="seccion-footer">
            <h3>NAVEGACIÓN</h3>
            <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/tienda']">Tienda</a></li>
                <li><a [routerLink]="['/blog']">Blog</a></li>
            </ul>
        </div>

        <div class="seccion-footer">
            <h3>CONTACTANOS</h3>
            <p>binary@sisters.com</p>
        </div>

        <div class="seccion-footer">
            <h3>REDES SOCIALES</h3>
            <ul>
                <a class="footer-icon" href="" target="_blank">
                    <i class="fi fi-brands-instagram"></i>
                </a>

                <a class="footer-icon" href="" target="_blank">
                    <i class="fi fi-brands-facebook"></i>
                </a>

                <a class="footer-icon" href="" target="_blank">
                    <i class="fi fi-brands-pinterest"></i>
                </a>
                
            </ul>
        </div>

        <div class="seccion-footer">
            <h3>SUSCRÍBETE</h3>
            <h2>A NUESTRAS</h2>
            <h2>NOVEDADES ♥</h2>

            <form class="suscribirse">
                <input type="email" placeholder="Email">
                <a class="footer-icon"><i class="fi fi-rs-paper-plane"></i></a>
            </form>
        </div>

    </div>

    <div class="copi-footer">
        <p>&copy; 2023 Binary Sisters. Todos los derechos reservados</p>
    </div>

</footer>